<?xml version="1.0"?>
<config>
	<hosts>
		<!-- local config -->
		<host addr="localhost" rcvPort="10011" sndPort="10001"/>
		<host addr="localhost" rcvPort="10012" sndPort="10002"/>
		<!--<host addr="localhost" rcvPort="10013" sndPort="10003"/>
		<host addr="localhost" rcvPort="10014" sndPort="10004"/>-->
		<!--	<host addr="10.0.0.8" rcvPort="10012" sndPort="10002"/>-->
		<!--	<host addr="10.0.0.8" rcvPort="10013" sndPort="10003"/>-->
		<!-- local + remote config -->
		<!--<host addr="localhost" rcvPort="10011" sndPort="10001"/>-->
		<!--<host addr="192.168.1.5" rcvPort="10012" sndPort="10002"/>-->
	</hosts>
	<midi>
		<device id="OSCMIDI:0"/>
		<device id="PCR"/>
		<device id="BCF2000"/>
	</midi>
	<classpath path="/media/USBDISK/src/processing/TimeLine_050907/classes"/>
	<datapath path="/home/robm/processing/xml/"/>
	<mappath path="/home/robm/.timelinerc/ControlMaps.xml"/>
	
	<!-- Windows stuff -->
	<!--  
	<classpath path="E:\src\processing\TimeLine_150907\classes"/>
	<datapath path="E:\src\processing\xml/"/
	<mappath path="E:\src\processing\xml\ControlMaps.xml"/>
	-->
</config>
